#conference{
    background-color: #000;
    width: 960px;
    float: left;
    background-image: url('awesomeconf.jpg');
    background-position: center;
    height: 240px;
}

#badge{
    text-align: center;
    width: 200px;
    border: 2px solid blue;
    -moz-box-shadow: 5px 5px 5px #333;
    -webkit-box-shadow:5px 5px 5px #333;
    -o-box-shadow:5px 5px 5px #333;
    box-shadow: 5px 5px 5px #333;
    
    -moz-transform: rotate(-7.5deg);
    -o-transform:rotate(-7.5deg);
    -webkit-transform:rotate(-7.5deg);
    -ms-transform: rotate(-7.5deg);
    transform: rotate(-7.5deg);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#info
{
    margin: 20px;
    padding: 20px;
    width: 660px;
    height: 160px;
    
    background-color: rgba(255,255,255,0.95);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius:12px;
    border-radius: 12px;
    
}

#badge,#info
{
    float: left;

}

#badge h2{
    margin: 0;
    background-color: red;
    font-size: 40px;
}

#badge{
    margin: 0;
    background-color: blue;
    color: #fff;
}
