/* 
    Document   : table.css
    Created on : 20/09/2012, 20:07:27
    Author     : Marcus
    Description:
        Purpose of the stylesheet follows.
*/

table
{
    width: 600px;
    border-collapse: collapse;
}


th, td
{
    border: none;
}

th
{
    background-color: #000;
    color: #FFF;
}

tr:nth-of-type(even)
{
    background-color: #F3F3F3
}

tr:nth-of-type(odd)
{
    background-color: #ddd;
}

td:nth-child(n+2)
{
    text-align: right;
}

tr:last-child
{
    font-weight: bolder;
}

td:last-child
{
    font-weight: bolder;
}

tr:last-child td:last-child
{
    font-size: 24px;
}

tr:nth-last-child(2)
{
    color: green;
}

tr:nth-last-child(-n+3)
{
    text-align: right;
}

table:last-child
{
    margin-top: 30px;
}

table:nth-of-type(even)
{
        width: 950px;
}

